/*body { padding-top: 70px; }*/

li {
  display: inline-block;
  /*float: right;*/
}

img {
  max-height: 20em;
  max-width: 20em;
}


.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}

