body  {
  background-image: url('/images/pool_table.png')
}


/* login form - nav bar*/

nav {
  margin-top: 0;
  background-color: black;
  max-height: 4em;
  font-family: 'Shadows Into Light', cursive;
  width: 100%;
}

#game-title {
  color: red;
  position: relative;
  margin-top: -0.2em;
  margin-left: 0.5em;
  font-size: 3em;
  display: inline-block;
}

.logged-in {
  position: relative;
  margin-right: 1cm;
  float: right;
}

.logged-in a {
  color: green;
  text-decoration: none;
  position: relative;
  font-size: 2em;

}

.logged-in a:hover {
  color: red;
}

.dropdown-container {
  display: none;
  margin-top: -1em;
  list-style: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  /*display: block;*/
  margin-left: 0;
  padding-bottom: 1em;

}

.dropdown-container ul {
  list-style: none;
  padding-left: 1em;
}

#dropdown-item {
}

#dropdown-listener {
  color: red;
  position: relative;
  margin-top: -0.2em;
  margin-left: 0.5em;
  font-size: 3em;
  display: inline-block;
}

#dropdown-listener:hover {
  color: green;
  position: relative;
  margin-top: -0.2em;
  margin-left: 0.5em;
  font-size: 3em;
}

.login {
 position: relative;
 display: inline-block;
 float: right;
 margin-right: 2em;
 margin-top: 1em;

}

#login-button {
  position: relative;
}


/* preset container */
.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}

/* Welcome - landing page */

#welcome header {
  color:red;
  text-shadow: 1px 4px black;
  font-family: 'Shadows Into Light', cursive;
  font-size: 10em;
  text-align: center;
}

#landing-pic {
  display: inline-block;
  float: right;
  border: 2px solid black;
  border-radius: 60px;
}

#intro-body {
  /*font-family: 'Poiret One', cursive;*/
  font-family: 'Bangers', cursive;

}

#rules {
  font-size: 0.6cm;

}

#welcome #title {
  font-size: 0.6cm;
}

/* start */

#button-text {
  font-family: 'Shadows Into Light', cursive;
  color: black;
  /*position: relative;*/
  margin-top: 1.5em;
  font-size: 5em;
  text-align: center;
  z-index: 2;
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

.start-container {
  /*border: 5px solid black;*/
  /*position: relative;*/
  /*background-image: url('/images/start.png');*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  height: 100%;
  width: 100%;
  /*position: absolute;*/
}

#startbutton {
  position: absolute;
  z-index: 1;
}

.start-container a {
  text-decoration: none;

}

.start-container a:hover {
  text-shadow: 2px 2px white;
}



/* Wager page */

#wager {
  color:red;
  text-shadow: 1px 4px black;
  font-family: 'Shadows Into Light', cursive;
  font-size: 7em;
  text-align: center;
}

.wager-form {
  text-align: center;
}

#wager-br {
  color:red;
  text-shadow: 1px 2px black;
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
}

#wager-field {
  width: 20%;
  margin-bottom: 2em;
}
/* bubble Js Html5 slider */

/* work in progress */
/*output {
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
*/

/* Card game images */

/*.player-card-holder ul {
  display: inline-block;
}
*/
.player-card-holder ul li {
  /*float: right;*/
  list-style: none;
  display: inline-block;
}

.dealer-card-holder ul li {
  /*float: left;*/
  list-style: none;
  display: inline-block;
}

.dealer-card-holder ul {
  display: block;
}


.cards img {
  max-height: 15em;
  max-width: 15em;
  /*display: inline-block;*/
  /*float: right;*/
}

/* dashboard with gameplay info */

#info-header {
  font-size: 2em;
  text-decoration: underline;
}

.game-info {
  background-color: rgba(0, 0, 0, 0.3);
  /*max-width: 30%;*/
  text-shadow: 1px 1px black;
  float: right;
  position: fixed;
  display: inline-block;
  margin-left: 60%;
  font-family: 'Bangers', cursive;
  color: red;
  padding: 1em;
  border: 3px solid black;

}

.button-holder form {
  display: inline-block;
}

.button-holder input {
  /* Will try and place chip bg img */
  /*background-image: url("/images/chip.jpg");*/
  /*background-repeat: no-repeat;*/

  font-family: 'Bangers', cursive;
  color: white;
  width: 5em;
  height: 5em;
  border-radius: 5em;
  border: 3px solid white;
  background-color:black;
  /*text-shadow: 1px 0px grey;*/
}

.button-holder input:hover {
  background-color:red;
}

/* High Rollers */

.highrollers {
  text-align: center;

}

.highrollers ol {
  border: 3px solid black;
  list-style: none;
  text-shadow: 1px 3px black;
  font-family: 'Bangers', cursive;
  color: red;
  height: 20%;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.3);
}

#hr-header {
  text-align: center;
  color:red;
  text-shadow: 1px 4px black;
  font-family: 'Shadows Into Light', cursive;
  font-size: 8em;
  padding: 0;
}

/* Register */

.register {
  border: 3px solid black;
  text-shadow: 1px 0px black;
  font-family: 'Bangers', cursive;
  color: red;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.3);
}