<div class="container">

  <header id="hr-header">High Rollers!</header>
  <section class="highrollers">
  <% if @games %>
  <% @games.each do |game| %>
  <ol>
    <% user = User.find(game.user_id) %>
    <li><%= user.username %> - Bank Roll:$<%= game.score %> </li>
  </ol>
  <% end %>
  <% end %>
  </section>
</div>
