<% if session[:user_id] %>
<section class="start-container">
  <a href="/<%= @user.id %>/playfj">
    <h1 id="button-text">Play<br>Frack Jack!</h1>
  </a>
</section>
<section class="play-card-container">
  <img id="card-A" src="/images/cards/AS.png">
  <img id="card-B" src="/images/cards/KS.png">
</section>

<% else %>
<div class="container">
  <section id='welcome'>
    <header>Frack Jack</header>
    <img id="landing-pic" src="/images/icon_340.png">
    <article id="intro-body">
      <p id="title">
        Welcome to Frack Jack! A new take on Vegas Style Blackjack.
      </p>
      <ul id="rules">
        <p>Rules of play:</p>
        <li>Just like standard BJ</li>
        <li>Aces count for 11.. always</li>
        <li>Game ends when your bankroll is empty</li>
        <li>Game ends when action counter hits zero</li>
      </ul>
      <h2>Please sign in or <a id="form-trigger" href="#sign-up-container">register</a></h2>
      <h3>This is not a gambling site!</h3>
    </article>
  </section>
  <section id="sign-up-container">
    <%= erb :signup %>
  </section>
    <% end %>
</div>
