<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Bangers' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <link rel="icon"
  type="image/png"
  href="/images/bj.png"/>

  <title>Frack Jack</title>
</head>
<body>
  <nav>
    <header id='dropdown-listener'>Frack Jack</header>
    <%if session[:user_id] %>
    <header class='logged-in' id='game-title'>Hello! <%=@user.username%></header>
    <div class='dropdown-container'>
      <ul>
        <li><header class='logged-in' id='dropdown-item'><a href="/logout">Logout?</a></header></li>
        <% if session[:game_id] %>
        <li><header class='logged-in' id='dropdown-item'><a href="/<%= @user.id %>/playfj/reset">Restart Game?</a></header></li>
        <% end %>

        <li><header class='logged-in' id='dropdown-item'><a href="/<%= @user.id %>/highrollers">High Rollers?</a></header></li>

      </ul>
    </div>

    <%else%>
    <div class="login">
      <form class="navbar-form navbar-right" role="form" action="/sessions" method="post">

        <input type="email" class="form-control" placeholder="email" name="email">
        <input type="password" class="form-control" placeholder="password" name="password">
        <button type="submit" id="login-button">Log In</button>
      </form>
    </div>
    <%end%>
  </nav>

  <%= yield %>

</body>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script> -->


  </html>
